---
---

@import "{{ site.theme }}";



@media (prefers-color-scheme: dark) {
  body, tr, tr:nth-child(2n), td, th {
    color: #eee;
    background: #293656;
  }
  tr, th, td {
    border-color: #eee
  }
  a {
    color: #7a9bff;
  }
}

.text-gray {
  color: #91a8dc !important;
}
